.emptyConstructorElement {
  display: flex;
  padding: 16px 24px;
  background: #2f2f37;
  width: 488px;
  min-height: 48px;
  flex-grow: 1;
  border-radius: 40px;
  margin-bottom: 40px;
  margin-top: 155px;
}

.emptyConstructorElement__text {
  margin: auto;
  line-height: 24px;
  text-align: center;
  flex-grow: 1;
}
