.cardElement {
  max-width: 272px;
  margin: 0;
  display: grid;
  justify-content: start;
  cursor: pointer;
  position: relative;
}

.cardElement:hover {
  opacity: 50%;
}

.cardElement__price {
  display: grid;
  grid-template-columns: max-content min-content;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.cardElement__name {
  margin: 0;
  text-align: center;
}

.cardElement__link {
  color: inherit;
  text-decoration: none;
}