.orders {
  display: grid;
  grid-template-rows: min-content min-content;
}

.orders__ordersList {
  display: grid;
  gap: 16px;
  width: 594px;
  overflow: auto;
  margin-bottom: 40px;
  padding-right: 8px;
  max-height: 716px;
  list-style: none;
  padding-left: 0;
}

.orders__ordersList::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.orders__ordersList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
} 