.burgerIngredients {
  display: grid;
}

.burgerIngredients__cardsWrapper {
  max-width: 600px;
  max-height: 716px;
  overflow:auto;
  margin-bottom: 40px;
}

.burgerIngredients__cardsWrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.burgerIngredients__cardsWrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
} 