.profilePage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 60px;
  min-height: 100vh;
  padding-top: 120px;
  width: 100%;
}

.profilePage__navigationList {
  max-width: 320px;
  list-style: none;
  padding-left: 300px;
  margin: 0;
}

.profilePage__navigationLink {
  text-decoration: none;
  color: #8585AD;
  transition: 0.5s;
}

.profilePage__navigationLink:hover {
  color: #ffff;
}

.profilePage__navigationLink_active {
  color: #ffff;
}

.profilePage__navigationInfo {
  max-width: 320px;
  padding-left: 300px;
  margin: 0;
}

.profilePage__formButtons {
  display: flex;
  justify-content: flex-end;
}
