.header {
  background-color: #1C1C21;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.header__nav {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  align-items: center;
  margin: 0;
}

.header__menuItemLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #8585AD;
}

.header__menuItemLink:hover {
  opacity: 50%;
}

.header__menuItemLink_active {
  color: #ffff;
}

.header__logo {
 display: flex;
 align-items: center;
 justify-content: center;
 padding-left: 112px;
 padding-right: 288px;
 cursor: pointer;
}

/* @media screen and (max-width: 1279px) {
  .header__logo {
    padding-right: 112px;
  }
} */