.orderInfoIngredient__ingredientItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.orderInfoIngredient__ingredientInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderInfoIngredient__price {
  display: flex;
  gap: 9px;
}