.burgerConstructor {
  display: grid;
  grid-template-rows: min-content max-content min-content;
  gap: 16px;
  border: 2px solid transparent
}

.burgerConstructor__cardBunElement {
  max-width: 100%;
  box-sizing: border-box;
}

.burgerConstructor__wrapper {
  max-width: 600px;
  max-height: 464px;
  overflow: auto;
}

.burgerConstructor__wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.burgerConstructor__wrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.burgerConstructor__list {
  list-style: none;
  display: grid;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.burgerConstructor__cardElement {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 15px;
}

.burgerConstructor__dragIcon {
  cursor: pointer;
}

.burgerConstructor__totalPriceContainer {
  max-height: 64px;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: end;
  align-items: center;
}

.burgerConstructor__totalPrice {
  display: flex;
  max-height: 64px;
  justify-content: center;
  align-items: center;
  gap: 9.5px;
}

.burgerConstructor__price {
  margin: 0;
}