.cardsWrapper {
  max-width: 600px;
  max-height: 716px;
  overflow:auto;
  margin-bottom: 40px;
}

.cardsWrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.cardsWrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.cardList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}